<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DebugPage" version="0.1.4" targetFramework="net45" />
  <package id="GlmSharp" version="0.9.7" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net45" />
  <package id="NUnit" version="3.0.0-alpha-5" targetFramework="net45" />
</packages>